@model List<Sending>

@{
    ViewData["Title"] = "История операций";
}

<div class="title-container" >
        <i class="fi fi-rs-time-past"></i>
        <h1>История операций</h1>
</div>

<div class="history-block">

    @foreach (var sending in @Model)
    {
        @if (sending.OperationTypeId != 1)
        {
            <div class="history-column">
            <div class="history-image"> 
                <script>
                    document.getElementById("avatar").style.background = generateRandomColor();
                </script>
                <div class="avatar">
                    @sending.AvatarLetter
                </div>
            </div>

            <div class="history-info"> 
                <div class="history-info-up">

                @if (@sending.OperationTypeId == 2)
                {
                    <div class="history-info-up-name"> Карта @sending.SubstanceId</div>
                }
                else
                {
                    <div class="history-info-up-name"> Карта @sending.SubstanceRecipientId</div>
                }

                <div class="history-info-up-date"> @sending.OperationDateTime </div>
                </div>
                <div class="history-info-down"> @sending.PersonSurname</div>
            </div>

            <div class="history-money">
                @if (@sending.OperationTypeId == 2)
                {
                    <div class="history-money-count"> - @sending.RublesCount P.</div>
                    <div class="history-money-name"> Перевод</div>
                }
                else
                {
                    <div class="history-money-count"> + @sending.RublesCount P.</div>
                    <div class="history-money-name"> Пополнение</div>
                }
            </div>

        </div>

        <hr />
        }
             
    }
</div>


