@model User

@{
    ViewData["Title"] = "Главная страница";
}

@if(TempData["AlertMessage"] != null) 
{
    <script type="text/javascript">

            window.onload = function () {
                
                alert('Регистрация прошла успешно!');
            };
        </script>
}

@if(TempData["AlertMessageCard"] != null)
{
    <script type="text/javascript">

            window.onload = function () {
                
                alert('Заказ карты прошла успешно!');
            };
        </script>
}

@if(string.IsNullOrEmpty(Model.UserName) is false)
{
    <div class="home">

        <div class="block-profile">
            <div class="title-container">
                <i class="fi fi-rs-user"></i>
                <h1>Профиль</h1>
            </div>

            <form method="post" asp-controller="Login" asp-action="Logout">
            <input type="submit" value="Выйти из аккаунта" />
            </form>

            <label>Логин</label>
            <input value="@ViewBag.Login" readonly/>

            <label>Имя</label>
            <input value="@ViewBag.Name" readonly/>

            <label>Фамилия</label>
            <input value="@ViewBag.Surname" readonly/>

            <label>Отчество</label>
            <input value="@ViewBag.Patronymic" readonly/>

            <label>Телефон</label>
            <input type="tel" value="@ViewBag.Phone" readonly/>

        </div>

        <div class="profile-container">

            <div class="title-container">
                <i class="fi fi-rs-credit-card"></i>
                <h1>Карты</h1>
            </div>

            <form method="post" asp-controller="Card" asp-action="NewCard">
                <input type="submit" value="Заказать новую карту" />
            </form>

            <div class="card-row">
            

                @foreach (var card in @Model.cardList)
                {
                    <div class="card-column">
                        <div class="card">
                            <img src="~/CardDesign1empty.png" alt="CardDesign1empty" style="width:100%">
                            <div class="card-container">
                                <h2>Баланс: @card.RublesCount P.</h2>
                                <p class="card-type">
                                    @if (@card.CardVariantId == 1)
                                    {
                                        <label> Тип карты: Дебютовая</label>
                                    }
                                    else
                                    {
                                        <label> Тип карты: Кредитная</label>
                                    }
                                </p>
                                <p>Номер карты: @card.SubstanceId</p>
                            </div>
                        </div>
                    </div>
                
                }

            </div>
        </div>


        
    </div>

}
else
{
    <div class="block-home"> 
        <h1>Вход в ХАБАРБАНК</h1>

        <form method="post" asp-controller="Login" asp-action="Check">

            @if(TempData["AlertMessage"] != null)
            {
                <script type="text/javascript">

                window.onload = function () {
                
                    alert('Неверный логин или пароль! Пожалуста, повторите вход снова!');
                    };
                </script>
            }

            @if(TempData["RegistrationMessage"] != null)
            {
                <script type="text/javascript">

                window.onload = function () {
                
                    alert('Регистрация прошла успешно!');
                    };
                </script>
            }

            <label asp-for="UserLogin"></label>
            <input placeholder="Логин" asp-for="UserLogin" />
            <span asp-validation-for="UserLogin"></span>

            <label asp-for="UserPassword"></label>
            <input placeholder="Пароль" type="password" asp-for="UserPassword" />
            <span asp-validation-for="UserPassword"></span>

            <input type="submit" value="Вход" />
        </form>

        <form method="post" asp-controller="Home" asp-action="Registration">
            <input type="submit" value="Стать клиентом" />  
        </form>

    </div>
}


